<script src="https://www.paypal.com/sdk/js?client-id=ARbkh8mlI86fQsOimmtXjf9izDlRqqWhTxIMuo6JI_e-scKS0WDU0B5_sTh3zLy1aGpnWKgM0ljOPUQm"></script>
<%= javascript_include_tag "paypal.js" %>
<div id="paypal-button-container"></div>
